/**
 * Material Design 主题
 */

.ldesign-menu--theme-material {
  --menu-border-radius: 4px;
  --menu-item-height: 48px;
  --menu-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.ldesign-menu--theme-material .ldesign-menu-item__content {
  font-weight: var(--size-font-weight-medium);
  letter-spacing: 0.01em;
}

.ldesign-menu--theme-material .ldesign-menu-item--active>.ldesign-menu-item__content {
  background-color: rgba(var(--color-primary-500), 0.08);
}

.ldesign-menu--theme-material .ldesign-menu-popup {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
