/**
 * 菜单组件样式入口
 * 参考 Ant Design Menu 组件设计
 */

@import './variables.css';
@import './animations.css';
@import './menu.css';
@import './menu-group.css';
@import './menu-tooltip.css';

/* 从 core 包导入溢出样式 */
@import '@ldesign/menu-core/src/styles/overflow.css';