/**
 * 简约主题
 */

.ldesign-menu--theme-minimal {
  --menu-border-radius: 0;
  --menu-item-padding-x: var(--size-spacing-lg);
  --menu-shadow: none;
}

.ldesign-menu--theme-minimal .ldesign-menu-item__content {
  border-radius: 0;
}

.ldesign-menu--theme-minimal.ldesign-menu--horizontal {
  border-bottom: none;
}

.ldesign-menu--theme-minimal.ldesign-menu--vertical {
  border-right: none;
}
